@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*************************************************************/
/** NOTE: 아래 주석 처리해야지 dark mode 토글시 색상 변경됨 **/
/*************************************************************/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

ul {
  list-style-type: disc;
  padding-left: 1rem;
}

ul ul {
  list-style-type: circle;
}

pre {
  background-color: #272822;
  border-radius: 0.5rem;
  padding: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}

code:not(pre > code) {
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 85%;
  white-space: break-spaces;
  border-radius: 6px;
  background-color: rgba(110, 118, 129, 0.4);
}

/* Reference from https://cssloaders.github.io/ */
.loader {
  position: relative;
  width: 48px;
  height: 48px;
  background: #de3500;
  transform: rotateX(65deg) rotate(45deg);
  color: #fff;
  animation: layers1 1s linear infinite alternate;
}
.loader:after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.7);
  animation: layerTr 1s linear infinite alternate;
}

@keyframes layers1 {
  0% {
    box-shadow: 0px 0px 0 0px;
  }
  90%,
  100% {
    box-shadow: 20px 20px 0 -4px;
  }
}
@keyframes layerTr {
  0% {
    transform: translate(0, 0) scale(1);
  }
  100% {
    transform: translate(-25px, -25px) scale(1);
  }
}

:target {
  scroll-margin-top: 80px; /* scroll margin top is compensation for header size */
}
