@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fortawesome/fontawesome-free/css/all.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*************************************************************/
/** NOTE: 아래 주석 처리해야지 dark mode 토글시 색상 변경됨 **/
/*************************************************************/
/* @media (prefers-color-scheme: dark) { */
/*   :root { */
/*     --foreground-rgb: 255, 255, 255; */
/*     --background-start-rgb: 0, 0, 0; */
/*     --background-end-rgb: 0, 0, 0; */
/*   } */
/* } */

html.dark {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

pre {
  background-color: #272822;
  border-radius: 0.5rem;
  padding: 16px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow-x: auto;
}

code:not(pre > code) {
  display: inline-block;
  padding: 0.2em 0.4em;
  font-size: 85%;
  white-space: break-spaces;
  border-radius: 6px;
  background-color: rgba(110, 118, 129, 0.4);
}
